@model TS.DataAccessLayer.Models.Gpu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gpu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelSeries" class="control-label"></label>
                <input asp-for="ModelSeries" class="form-control" />
                <span asp-validation-for="ModelSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoreFrequence" class="control-label"></label>
                <input asp-for="CoreFrequence" class="form-control" />
                <span asp-validation-for="CoreFrequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memory" class="control-label"></label>
                <input asp-for="Memory" class="form-control" />
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryType" class="control-label"></label>
                <input asp-for="MemoryType" class="form-control" />
                <span asp-validation-for="MemoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryFrequence" class="control-label"></label>
                <input asp-for="MemoryFrequence" class="form-control" />
                <span asp-validation-for="MemoryFrequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
