@{
    ViewData["Title"] = "Home Page";
}


    <tr>
        <td align="center" valign="top" style="list-style:none">
            <a  asp-area="" asp-controller="Cpu" asp-action="Index">
                <img src="~/images/cpu.jpg" alt="CpuImage" height="300" width="300" />
            </a>
        </td>
        <td  align="center" valign="top" style="list-style:none">

            <a  asp-area="" asp-controller="Gpu" asp-action="Index">
                <img src="~/images/gpu.jpg" alt="CpuImage" height="300" width="300" />
            </a>
        </td>
    </tr>
