@model TS.DataAccessLayer.Models.Cpu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Description</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelSeries" class="control-label"></label>
                <input asp-for="ModelSeries" class="form-control" />
                <span asp-validation-for="ModelSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Socket" class="control-label"></label>
                <input asp-for="Socket" class="form-control" />
                <span asp-validation-for="Socket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cores" class="control-label"></label>
                <input asp-for="Cores" class="form-control" />
                <span asp-validation-for="Cores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoreFrequence" class="control-label"></label>
                <input asp-for="CoreFrequence" class="form-control" />
                <span asp-validation-for="CoreFrequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cache" class="control-label"></label>
                <input asp-for="Cache" class="form-control" />
                <span asp-validation-for="Cache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
